body {
    position: relative;
}

#hero {
    padding-top: 30px;
    height: 100vh;
}

#game-ui {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-right: 0px;
    justify-content: space-evenly;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    opacity: 0.6;
    animation: none;
}

.player-animation {
    animation: 0.8s linear 0s infinite running changeOpacity;
}

#player1 {
    border: 5px solid red;
    background-color: rgb(255, 96, 57);
}

#player2 {
    border: 5px solid blue;
    background-color: rgb(0, 191, 255);
}

@keyframes changeOpacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1150px) {
    #player1 {
        border: 3px solid red;
    }

    #player2 {
        border: 3px solid blue;
    }
}

.player-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.player-name {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-status {
    position: relative;
    height: 30px;
    width: 30px;
}

.player-circle {
    visibility: hidden;
    position: absolute;
    color: white;
    font-size: 30px;
}

.player-circle-active {
    visibility: visible;
}

.player-win {
    visibility: hidden;
    position: absolute;
    color: gold;
    font-size: 30px;
}

.player-win-active {
    visibility: visible;
}

.btn-game-ui {
    font-size: 28px;
    border-radius: 50%;
}

.btn-game-ui:hover {
    animation: 0.5s linear 0s 1 running rotate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#board-background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    padding-left: 0px;
    padding-right: 0px;
}

#game-message-layer {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: greenyellow;
    border: 5px solid green;
    border-radius: 15px;
    height: 10%;
    width: 95%;
}

#game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    width: 95%;
}

#img-game-background {
    position: absolute;
    border: 5px solid gray;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.game-columns {
    display: flex;
    justify-content: space-evenly;
}

.circle {
    height: 9vh;
    width: 6%;
    border: 3px solid black;
    border-radius: 50%;
    background: "whitesmoke";
}

.circle-animation {
    animation: 0.8s linear 0s infinite running changeOpacity;
}

@media (max-width: 990px) {
    .circle {
        height: 9vh;
        width: 8%;
    }
}

@media (max-width: 800px) {
    .circle {
        height: 7vh;
        width: 11%;
    }
}

@media (max-width: 650px) {
    .circle {
        height: 7vh;
        width: 13%;
    }
}