@import url('header.css');
body {
    background-image: url("/static/images/background4.jpg");
}

#hero {
    padding-top: 30px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#img-connect4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.mode-card{
    margin: 20px;
    opacity: 0.6;
    transition: 0.3s;
}
.mode-card:hover {
    opacity: 1;
}
.img-card{
    width:auto;
    height: 300px;
}

body{
    font-family: 'Gluten', cursive;
}
