@import url('header.css');

#img-background {
    height: 100%;
}

#hero {
    padding-top: 50px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.login-form {
    width: 340px;
}

#login-form-body {
    border: 2px solid rgb(65, 65, 65);
    border-radius: 6px;
    margin-top: 16px;
    padding: 16px;
}
#login-form-body form {
    width: 100%;
}

#login-form-body label {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-form-body label a {
    font-size: 12px;
}

.login-btn {
    margin: 15px 0 15px 0;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

#sign-up-box {
    background-color: wheat;
    border: 2px solid rgb(65, 65, 65);
    padding: 15px 20px;
    margin: 16px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
}

#alert-container {
    font-size: 14px;    
}

body{
    font-family: 'Gluten', cursive;
}