@import url('header.css');

body{
    font-family: 'Gluten', cursive;
}

.card-header{
    text-align: center;
    font-size: 1.8rem;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #C9B3FF;
    background: -moz-linear-gradient(top, #C9B3FF 0%, #CFC2CF 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #C9B3FF 0%, #CFC2CF 50%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #C9B3FF 0%, #CFC2CF 50%, #FFFFFF 100%);
}

#redPlayer, #bluePlayer{
    padding-top:4px;
    padding-bottom: 4px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-list{
    margin-top: 30px;
    width: 100%;
    max-height: 800px;
    overflow-y:scroll;
}

.room-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #77CBCE;
    background: -moz-radial-gradient(center, #77CBCE 0%, #1C6EA4 50%, #C28AC5 100%);
    background: -webkit-radial-gradient(center, #77CBCE 0%, #1C6EA4 50%, #C28AC5 100%);
    background: radial-gradient(ellipse at center, #77CBCE 0%, #1C6EA4 50%, #C28AC5 100%);
}

#hero{
    margin-top: 30px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form-container{
    width: 100%;
    padding: 30px;
    border: 8px ridge rgba(120,152,164,0.67);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ababab;
}
#choose-color{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
}
#create{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#create-btn{
    margin: 20px;
}
.waiting-room {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}