<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img src='/static/images/brand.jpg' id="navbar-logo" />
            <span>Connect 4 ever</span>
        </a>
        <ul id="navbarNav" class="nav">
            <li class="nav-item">
                <div aria-current="page">
                    <div id="currentUserInfo">XXXX</div>
                </div></li>
            <li class="nav-item">
                <div class="nav-link" aria-current="page">
                    <button id="btn-logout" class="btn btn-dark">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    getCurrentUserInfo()

    document.getElementById("btn-logout").onclick= async() => {
        const res = await fetch('/logout');
        const result = await res.json();
        if(res.status === 200){
            window.location = '/';
        }
    }    
    
    async function getCurrentUserInfo(){
        const res = await fetch('/getCurrentUserInfo');
        const userInfo = await res.json();
        const hashId = (userInfo.id).toString().padStart(4, '0')
        const currentUserInfoDiv = document.querySelector('#currentUserInfo');
        currentUserInfoDiv.innerHTML = `
            <div class="Info-item"> Welcome ${userInfo.username} ! </div>
            <div class="Info-box">
                <div class="Info-item"> Your Id: #${hashId} </div>
                <div class="Info-item"> Current Points: ${userInfo.points} </div>
            </div>
            `
    }
</script>