<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img src='/static/images/brand.jpg' id="navbar-logo" />
            <span>Connect 4</span>
        </a>
    </div>
</nav>