<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img src='/static/images/brand.jpg' id="navbar-logo" />
            <span>Connect 4</span>
        </a>
        <ul id="navbarNav" class="nav">
            <li class="nav-item">
                <div class="nav-link" aria-current="page">
                    <a class="btn btn-outline-dark" href="/login.html">Login</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link" aria-current="page">
                    <a class="btn btn-dark" href="/signUp.html">Sign up</a>
                </div>
            </li>
        </ul>
    </div>
</nav>